<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar-nav">
        <a id="txtclr" class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-education"></span> BreakingCode</a>

            <button class="btn btn btn-danger my-2 my-sm-0" type="submit" routerLink="/">Log out</button>
        
    </div>
</nav>




    <div class="userhome_div">
        <div class="exam_div"><br/>
            <h1 id="exam_header" style="color: rgb(219, 219, 219); text-align: center;">You Have Entered The DEN </h1><br/><br/>
            <h2 style="color: rgb(219, 219, 219); text-align: center; "><hr/> Let’s Hack!</h2><br>
            <p style="color: rgb(219, 219, 219); font-size:larger;text-align: center;">After a brief pandemic detour, the 5th edition of the BreakingCode is back on track! <br/>
                 We look forward to welcoming developers from across the country to BreakingCode to hack and have fun by solving some real-world problems.<br/>
                 After the phenomenal success of Hackathon projects in the past few years, we are once again putting the power entirely in the hands of the open-source community.<br/>
                  This year, we’ll be looking for innovative, impactful, and ecologically sustainable open-source projects.<br/>
                  COME HACK WITH US: Clear the fisrt round to participate in Hackathon.<br/>
            The first round consists of Multiple Choice Questions (MCQ's) of 3 topics : <br/>
            -"JAVA"<br/>
            -"JQUERY"<br/>
            -"SQL"<br/></p>
            <h2 style="color: rgb(219, 219, 219); text-align: center; "><hr/> Rules To Remember</h2><br>
            <p style="color: rgb(219, 219, 219); font-size:large; text-align: center;">- Each question in the quiz is of multiple-choice(MCQ) format.<br/>
            - No Negative Marking is there. <br/>
            - After responding to a question, click on the "Next Question" button at the bottom to go to the next questino.<br/>
            - After responding to the 10th question, click on "Submit" at the bottom of the window to see  your score in the quiz.<br/>
            - The total score for the quiz is based on your responses to all questions. <br/>
             </p>
            
        <br>
           
        <div style="text-align:center;">
        <a href="/exam" class="animated-button1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Enter into (Level-I)
          </a>
          </div>
        </div>

        <div class="report_div">
            <h2 id="report_header" style="color: rgb(219, 219, 219); text-align: center;"><br><br><br>Code with us</h2><br/>
            <p style="color: rgb(219, 219, 219); font-size:larger;text-align: center;">
            We are once again looking out for projects from all over the open-source communities.<br/>
            They will all be not-for-profit, interoperable, and—of course—open-source. <br/>
            Ideally, they are related to the hosting industry, hackable and beneficial for different actors of the industry present during BreakingCodeFest.<br/>
            This year, we’ll be specifically targeting innovative, impactful, and ecologically sustainable open-source projects.<br/><br><br></p>
           <h2  style="color: rgb(219, 219, 219); text-align: center;"><br><br>STAY Tuned and Awesome !</h2><br><br><br/>
           


            
            <br>
            <!-- <a routerLink="/exam" target="_self" class="fl-button" role="button"><br>
                <button class="button" style = "vertical-align:middle float-right"><span class="fl-button-text">Exam</span></button>
        </a> -->
        <!-- <p>Health Insurance has become a necessity in today’s world due to increase in the cost of medical treatment,
            advent of multispecialty hospitals with state-of-the-art facilities, equipment and availability of specialist doctors.<br/>
            Health insurance protects us from the sudden, unexpected costs of hospitalization (or other covered health
            events, like critical illnesses) which would otherwise make a major dent into household savings or even lead to
            <br>
            indebtedness. Each of us is exposed to various health hazards and medical emergency that can strike any one of
            us without any prior warning. Healthcare is increasingly expensive, with technological advances, new procedures
            <br/>
            and more effective medicines that have also driven up the costs of healthcare. While these high treatment
            expenses may be beyond the reach of many, taking the security of health insurance is much more affordable.</p><br/><br/><br/><br/><br/> -->
            <div style="text-align:center;">
            <a href="#" class="animated-button1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Log Out
          </a><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
    </div>
        
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color:black; "><p style="color: rgb(219, 219, 219); text-align: center;font-size:larger;">© 2020 Copyright: Breaking Code</p>
      <a href="https://mdbootstrap.com/"> Breaking Code</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
        
       

        
        
        
