<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container"><a href="#" class="navbar-brand d-flex align-items-center"> <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i><strong>Breaking Code</strong></a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="#" class="nav-link font-italic"> Home </a></li>
          <li class="nav-item active"><a href="#" class="nav-link font-italic"> About </a></li>
          <li class="nav-item active"><a href="#" class="nav-link font-italic"> Services </a></li>
          <li class="nav-item active"><a href="#" class="nav-link font-italic"> Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="" id="p" style="background-color: black;">
    <div class="container " style="background-color: black;color: rgb(219, 219, 219);font-size: medium; font-weight:normal;">
      <div class="row h-100 align-items-center py-5" style="background-color: black;">
        <div class="col-lg-6" style="background-color: black;">
          <h1 class="display-4">About us </h1>
          <p class="">The BreakingCodeFest Hackathon is where ideas become products at super-speed. 
            Developers from across the  industry team up to create innovative solutions to nagging tech problems.
             This is the power of the open-source community in action… and it all starts with you!
             BreakingCodeFest takes place every year in spring at Bangalore , India, which is transformed into a different kind of playground. 
            The event is all about the latest technologies, innovations, hackathons and product presentations, but also hosts workshops, meetings, and networking. 
            The enormous growth of technology and the challenges we face these days require a focus on the development of real-world solutions during this event.
             This involves all aspects of safety, security, protection, service quality, and ownership within the scope of online activities.</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="" style="background-color: black;">
    <div class="container py-5" style="background-color: black;color: rgb(219, 219, 219);font-size: medium; font-weight:normal;">
      <div class="row align-items-center mb-5"style="background-color: black;">
        <div class="col-lg-6 order-2 order-lg-1" style="background-color: black;"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Who should attend?</h2>
          <p class="">Now is the time to finally solve some of those problems that have been driving the industry crazy,
             but haven’t made it onto anyone’s individual roadmap. 
             Team up, bring a solution to life, and release it into the wild! You’ll partner with other passionate hackers 
             who are equally excited to bring ideas into the world (starting with GitHub, of course). 
             Results of the Hackathon will also be showcased to the 7000+ attendees of BreakingCodeFest. 
             Harness the power of open source and make some magic happen!</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2" style="background-color: black;"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center" style="background-color: black;">
        <div class="col-lg-5 px-5 mx-auto" style="background-color: black;"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"style="background-color: black;"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Diversity and Inclusion</h2>
          <p class="">One of the top priorities of the BreakingCodeFest Hackathon is to encourage diversity in tech and to create a welcoming and safe atmosphere for everybody.

            “Inclusion is not a matter of political correctness. It is the key to growth.”We expect our attendees to be considerate, respectful, and collaborative with each other and to refrain from demeaning, discriminatory, or harassing behavior and speech.

            We also want to ensure we can meet the needs of our attendees when it comes to dietary requirements and accessibility in general. </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class=""style="background-color: black;">
    <div class="container py-5" style="background-color: black;color: rgb(219, 219, 219);font-size: medium; font-weight:bold;">
      <div class="row mb-4" style="background-color: black;">
        <div class="col-lg-5" style="background-color: black;">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">Accelerate the World's Innovation</p>
        </div>
      </div>
  
      <div class="row text-center" style="background-color: black;">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5"style="background-color: black;">
          <div class="bg-white rounded shadow-sm py-5 px-4" style="color: black;"><img src="./assets/images/sushil.jpg" alt="" width="100" class="img-thumbnail shadow-sm">
            <h5 class="mb-0">Sushil Goud</h5><span class="small text-uppercase text-muted">Team Leader</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"style="color: black;"><img src="./assets/images/ayan.jpg" alt="" width="105" class=" img-thumbnail shadow-sm">
            <h5 class="mb-0">Ayan Kumar</h5><span class="small text-uppercase text-muted">Member</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4" style="color: black;"><img src="./assets/images/supriya.jpg" alt="" width="110" class="mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">S Supriya</h5><span class="small text-uppercase text-muted">Member</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4" style="color: black;"><img src="./assets/images/nakul.jpg" alt="" width="115" class=" img-thumbnail shadow-sm">
            <h5 class="mb-0">Nakul Dev</h5><span class="small text-uppercase text-muted">Member</span>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
  
  
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color:black; "><p style="color: rgb(219, 219, 219); text-align: center;font-size:larger;">© 2020 Copyright: Breaking Code</p>
    <a href="https://mdbootstrap.com/"> Breaking Code</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
