<div class="container">
  
    <h1>EDIT </h1>
    
    <form #questionForm="ngForm" (ngSubmit)="updateQuestionOnSubmit()">
      
        <div class="form-group">
            <label for="qid">ID</label>
            <input type="text" name="qid" class="form-control" [(ngModel)]="quizquestion.qid" #qid="ngModel" required>
          </div>

      <div class="form-group">
        <label for="topic">Topic</label>
        <select type="text" name="topic" size="1" class="form-control" [(ngModel)]="quizquestion.topic" #topic="ngModel" required>
          <option value="" selected="selected">Select Topic</option>
          <option *ngFor="let topic of topics" value="{{ topic }}">{{ topic }}</option>
        </select>
      </div>
     
      <div class="form-group">
        <label for="question">Type in the Question:</label>
        <input type="text" name="question" class="form-control" [(ngModel)]="quizquestion.question" #question="ngModel" required>
      </div>
      
      <div class="form-group">
        <label for="optionA">Option A:</label>
        <input type="text" name="optionA" class="form-control" [(ngModel)]="quizquestion.optionA" #optionA="ngModel" required>
      </div>

      <div class="form-group">
        <label for="optionB">Option B:</label>
        <input type="text" name="optionB" class="form-control" [(ngModel)]="quizquestion.optionB" #optionB="ngModel" required>
      </div>

      <div class="form-group">
        <label for="optionC">Option C:</label>
        <input type="text" name="optionC" class="form-control" [(ngModel)]="quizquestion.optionC" #optionC="ngModel" required>
      </div>

      <div class="form-group">
        <label for="optionD">Option D:</label>
        <input type="text" name="optionD" class="form-control" [(ngModel)]="quizquestion.optionD" #optionD="ngModel" required>
      </div>

      <div class="form-group">
        <label for="correctAns">Correct Answer:</label>
        <input type="text" name="correctAns" class="form-control" [(ngModel)]="quizquestion.correctAns" #correctAns="ngModel" required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-success" (click)="updateQuestionOnSubmit()">Update</button>
      </div>
      
    </form>
      
    <br/>
    {{this.questionForm.value | json}}
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-success" type="submit" (click)="addQuestionOnSubmit()">Show List</button>
    </div>
<!-- Footer -->
<footer class="page-footer font-small blue">
