
#r{
    background-image: url("src/assets/images/code2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken;
    
    /* background-attachment: fixed;  */
    background-position: 50% 50%; 

    background-color:rgb(59, 59, 59);
    border-radius: 15px;

    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4);
    
        
        
    font-weight: bold;
    
}

.reg{
    text-align: center;
    background-color: transparent;
    border-color: black;
}






